.clicked:hover {
  cursor: pointer;
  transform: scale(1.5)
}

.clicked {

  list-style: none;
  font-size: 50px;
  display: inline-flex;
  vertical-align: bottom;
  margin: 15px;
  transition: 200ms;
}

.unclicked {
  list-style: none;
  font-size: 50px;
  display: inline-flex;
  vertical-align: bottom;
  margin: 15px;
  transition: 200ms;
  opacity: 0.2;
}